.App{
  text-align: center;
  display: grid;
  place-content: center;
  height: 100dvh;  
}
.towers{
  border-bottom: 10px solid tan;
  margin: auto;
  display: flex;
  justify-content: center;
  gap:10px;
  padding-top: 10px;
}
.tower{
  position:relative;
  justify-content: end;
  height: 120px;
  width: 100px;
  display:flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding-bottom: 0;
}
.tower::before{
  display: block;
  content:"";
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  height: 100%;
  width: 10px;
  border-radius: 5px 5px 0 0 ;
  background:thistle; 
}
.disc{
  border-radius: 5px;
  height: 10px;
  position: relative;
}

.activeDisk{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  height: 20px;
}
h1{
  text-align: center;
  position: relative;
  z-index: 100;
}
.winner{
  position: absolute;
  left:0;
  right: 0;
  font-size: 1rem;
  padding: 1rem 2em;
  border-radius:1em;
  top:100%;
  background: tomato;
  color:white;
}